fastapi == 0.115.12
pydantic == 2.11.4
starlette == 0.46.2
uvicorn == 0.34.2
SQLAlchemy == 2.0.34
alembic == 1.13.3
Jinja2 == 3.1.6
psycopg2-binary == 2.9.11
passlib == 1.7.4
python-jose == 3.5.0
PyJWT == 2.8.0